body {
  height: 100%;
  background: rgb(255, 255, 255);
  background: -webkit-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 0, 0) 90.35714285714286%) rgb(152, 26, 26);
  background:    -moz-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 0, 0) 90.35714285714286%) rgb(152, 26, 26);
  background:      -o-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 0, 0) 90.35714285714286%) rgb(152, 26, 26);
  background:     -ms-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 0, 0) 90.35714285714286%) rgb(152, 26, 26);
  background:         linear-gradient(450deg, rgb(255, 255, 255) 0%, rgb(255, 0, 0) 90.35714285714286%) rgb(152, 26, 26);
  font: 400 3.125em/1.38 'Kite One';
  color: rgb(0, 0, 0);
}

.element {
  position: relative;
  float: left;
  z-index: 0;
  width: 40.8%;
  height: 95px;
  margin: 43px 0 0 29.5989583333%;
  background: rgb(255, 255, 255);
  background: -webkit-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  background:      -o-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  background:         linear-gradient(450deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
}

.text {
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 27.2%;
  min-height: 53px;
  margin: -77px 0 0 36.39974%;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}
